@model aver.Models.SuggestionItem

@{
    ViewBag.Title = "Detail";
}
<div class="container-fluid mt-5 detail-container">
    <div class="row wow" style="visibility: visible; animation-name: fadeIn;">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="info-txt">
                        <h2 class="header-txt">@Model.Title</h2>
                        <p>Based on your medical and financial data we highly recommend you to follow these examples.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="list-group">
        @foreach (var foods in Model.Foods)
        {

            var identifier = foods.FoodName.ToString().Trim();
            <li class="list-group-item detail-li" data-toggle="collapse" data-target="#@identifier" style="    margin-bottom: 30px;">
                <p style="font-weight:500;">@foods.FoodName</p>
                <p style="color:lightgray">Because of @foods.Explanation</p>
                <div id="@identifier" class="collapse in">@foods.Description</div>
            </li>
        }
    </ul>
</div>
