@model aver.core.Models.SuperModel


@{
    ViewBag.Title = "Home Page";
}

<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        <div class="row wow" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="info-txt">
                            <h2 class="header-txt">Welcome to Averi</h2>
                            <p>We have taken the steps to customize profile based on your finanacial records and medical records.</p>
                            <p>We know that it is hard work to get healthy but do not worry we are her to <span class="sub-txt">help you!</span><p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row wow " style="visibility: visible; animation-name: fadeIn;">
        <div class="col-md-6 mb-4 fadeIn">
            <!--Card-->
            <a href="@Url.Action("Detail", "", new { type="breakfast" })">
                <!--Card-->
                <div class="card aqua-gradient">
                    <div class="card-img-top card-image-main img-breakfast">

                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <div class="card-txt">Breakfast Suggestions</div>
                    </div>

                </div>
                <!--/.Card-->
            </a>
        </div>
        <!--Grid column-->
        <div class="col-md-6 mb-4 fadeIn">
            <div class="card ripe-malinka-gradient">
                <a href="@Url.Action("Detail", "", new { type="supper" })">
                    <div class="card-txt">Lunch Suggestions</div>


                    <div class="card-img-top card-image-main img-supper">
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                    </div>
                </a>
            </div>
            <!--/.Card-->
        </div>
    </div>
    <div class="row wow" style="visibility: visible; animation-name: fadeIn;">
        <div class="col-md-6 mb-4 fadeIn">
            <!--Card-->
            <div class="card young-passion-gradient">
                <a href="@Url.Action("Detail", "", new { type="dinner" })">
                    <div class="card-txt">Dinner Suggestions</div>

                    <div class="card-img-top card-image-main img-dinner">
                    </div>
                    <div class="card-body">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-4 fadeIn">
                    <!--Card-->
                    <div class="card winter-neva-gradient">
                        <a href="@Url.Action("Detail", "", new { type="snacks" })">

                        <div class="card-txt">Snacks Suggestions</div>

                            <div class="card-img-top card-image-main img-snacks">
                            </div>
                            <div class="card-body">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    <div class="row wow " style="visibility: visible; animation-name: fadeIn;">
        <!--Card-->
        <div class="col-md-6 mb-4 fadeIn">
            <div class="card blue-gradient">

                <a href="@Url.Action("Detail", "", new { type="not-allowed" })">
                    <div class="card-txt">Avoid These</div>

                    <div class="card-img-top card-image-main img-danger">
                    </div>
                    <!--Card content-->
                    <div class="card-body">

                    </div>
                </a>
            </div>
            <!--/.Card-->
            </div>
 
            <div class="col-md-6 mb-4 ">
                <div class="card financial-card aqua-gradient">

                    <!--Card content-->
                    <div class="card-body">
                        <!-- List group links -->
                        <div class="financial-txt">Financial status</div>
                        <div class="financial-body">
                            <div style="color:white;">
                                Monthly salary
                                <span class="badge badge-default badge-pill pull-right">
                                    @Model.Finance.TotalAmount kr
                                </span>
                            </div>
                            <div style="color:white;">
                                Total monthly budget
                                <span class="badge badge-default badge-pill pull-right">
                                    @Model.Finance.AmountAfterBills kr
                                </span>
                            </div>
                            <div style="color:white;">
                                Suggested food spending budged
                                <span class="badge badge-default badge-pill pull-right">
                                    @Model.Finance.AllegedFoodCost kr
                                    <i class="ml-1"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 

        <!--Grid row-->
</main>