@model aver.Models.UserViewModel

@{
    ViewBag.Title = "About you";
}





<!-- Card -->
<div class="card" >

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAkwPeS3Q8gSIrdgYuhWQuH97V1kkVHcbzX5JNJ9urgJ-Mo043" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title" style="">About you</h4>
        <!-- Text -->
        <p class="card-text" style="merge-bottom: 5px;">This is what we know about you</p>
        <!-- Button -->
        @foreach (var item in Model.Items)
        {
            <p class="card-text"  style="font-weight: bold">Bloodpressure  @item.BloodPressure</p>
            <p class="card-text" style="font-weight: bold">
                Allergies
                <ul>
                    @foreach (var allergy in @item.Allergies)
                    {
                        <li class="card-text" style="list-style: none">@allergy</li>
                    }
                </ul>

            </p>

            <p class="card-text"  style="font-weight: bold">
                Medication
                <ul>
                    @foreach (var med in @item.Medication)
                    {
                        <li class="card-text" style="list-style: none">@med</li>
                    }
                </ul>

            </p>

            <p class="card-text" style="font-weight: bold;">Budget: @item.Budget</p>
        }

    </div>

</div>
<!-- Card -->


